.logo {
    background: rgba(0, 0, 0, 0) url('http://www.gastronosfera.com/sites/default/files/uploads/xcomida_organica1_0.jpg.pagespeed.ic.OQuk7by84i.jpg') repeat scroll center center / cover;
    margin-bottom: 30px;
}

.textini {
    color: aliceblue;
}
.productos {
    margin-top: 100px;
}